/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  overflow: hidden;

  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("sbxwp.png");

  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  width: 100%;
  height: 94vh;
}

.hero_text_container {
  text-align: center;
  margin: auto;
  color: white;
}

.hero_title {
  font-size: 48px;
}

.hero_subtitle {
  font-size: 24px;
}

.pgyo {
  color: red;
  width: 50%;
  margin: auto;
}

.haichUno {
  color: yellow;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}